@import url('../../css/animation/allAnimations.css');

.mainSongPage :global{
    animation: fadeIn 1s;
}

.songName :global{
    animation: slideInFromLeft 1s, fadeIn 1s;
    animation-delay: .05s;
    animation-fill-mode: forwards;
}

.artist :global{
    animation: slideInFromLeft 1s, fadeIn 1s;
    animation-delay: .1s;
    animation-fill-mode: forwards;

}

.album :global{
    animation: slideInFromLeft 1s, fadeIn 1s;
    animation-delay: .15s;
    animation-fill-mode: forwards;

}
.genre :global{
    animation: slideInFromLeft 1s, fadeIn 1s;
    animation-delay: .2s;
    animation-fill-mode: forwards;

}



.mainSongPage{
    margin: 0 1%;
    padding-bottom: 25px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-width: 700px;
    max-width: 1250px;
    /* border: 1px solid black; */

    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 460px 80px auto;
    grid-template-areas:
    "song song"
    "suggest comment"
    "suggest comment";
}

.songDiv{
    grid-area: song;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 60px;
    grid-template-areas:
    "songInfo albumArt extras"
    "waveform waveform waveform";
    background-color: var(--background2);
}


.songInfo{
    width: 100%;
    height: 100%;
    grid-area: songInfo;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    /* justify-content: center;
    align-content: center; */
}

.songName,
.album,
.artist,
.genre{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(0,0,0,.02);
    font-size: 20px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.songName a{
    color: var(--songTitle);
    font-size: 155%;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}

.album a,
.artist a{
    color: var(--otherSongInfo);
    font-size: 125%;
    text-decoration: none;
    padding: 5px;
}

.artist a{
    font-style: italic;
}


.genre h3{
    border: 1px solid var(--genreTextColor);
    border-radius: 5px;
    font-size: 110%;
    color: var(--genreTextColor);
    background-color: var(--genreBackground);
}

.songHeader{
    color: var(--songHeaders);
    position: absolute;
    top:2px;
    left:2px;

}


.albumArtDiv{
    grid-area: albumArt;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.02);
}

.albumArt{
    width: 80%;
    border-radius: 20px;
}

.extras{
    background-color: rgba(0,0,0,.02);
    grid-area: extras;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.likesDiv{
    display: flex;
    justify-content: space-evenly;
    color: var(--songTitle);
    width: 100%;
    font-size: 20px;
}

.playlistDiv{
    width: 100%;
    font-size: 30px;
}


.waveform{
    grid-area: waveform;
    margin: 0 10px;;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none
}

.allCommentSection{
    grid-area: comment;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
}

.myCommentSection{
    /* height:100%;
    width: 100%; */
    border-bottom: 1px solid var(--borderColor);
}

.myCommentContainer{
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-areas:
    "pic comment";
    margin: 10px 0;
    padding: 0 10px;
    border-left: 1px solid var(--borderColor);
}

.myProfPicDiv{
    grid-area: pic;
    width: 60px;
    height: 60px;
    background-color: var(--profPicBackground);
    display: flex;
    justify-content: center;
    align-items: center;
}

.myProfPic{
    width:80%;
    height:80%;
    object-fit: contain;
}

.myCommentDiv{
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--fadedRainbowIndigo);
}

.myComment{
    box-sizing: border-box;
    resize: none;
    width: 95%;
    height: 100%;
    border-radius: 5px;
    /* margin: 10px; */
}

.myCommentButton{
    margin: 2px;
    height: 25px;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgba(64,64,64,.2);
    color: var(--rainbowIndigo);
}

.commentsDiv{
    grid-area: comment;
    flex-grow: 1;
    height: 100%;
    margin-top: 10px;
    border-left: 1px solid var(--borderColor);
    overflow-y: auto;
}

.topSongsDiv{
    grid-area: suggest;
}


/*** Status ***/
.albumArtDiv:hover .playstatus{
    opacity: .9;
    transition: .1s;
}

.playstatus{
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--background3);
    color: var(--pastelWhite);
    opacity: 0;
    transition: .1s;
    pointer-events: none;
}

.status{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}