@import url('../../../../css/animation/allAnimations.css');

.albumHeaderDiv :global{
    animation: fadeIn 1s
}

.albumHeaderDiv{
    display: flex;
    justify-content: center;
}

.albumName{
    border-bottom: 1px solid var(--rainbowIndigo);
}