.formDiv{
    color: var(--formText);
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.formDiv h2{
    color: var(--formLabel);
    font-weight: bold;
}

.formErrors{
    list-style: none;
    color: var(--beige)
}

.form{
    display: flex;
    flex-direction: column;
}

.title,
.album,
.music,
.image,
.genre{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input{
    width: 100%;
    height: 30px;
    font-size: 15px;
    color: var(--formText);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 3px 7px;
    box-sizing: border-box;
}

.label{
    color: var(--formLabel);
    font-weight: bold;
}

.musicInput,
.imageInput{
    font-size: 15px;
    color: var(--uploadButtonText);
}

.musicInput::file-selector-button,
.imageInput::file-selector-button{
    height: 25px;
    font-size: 15px;
    border-radius: 5px;
    background-color: var(--uploadButtonBackground);
    color: var(--rainbowIndigo);
}

.genreInput{
    height: 20px;
    font-size: 15px;
    border-radius: 5px;
    background-color: var(--snow);
    color: var(--rainbowIndigo);
}

.buttonDiv{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    background-color: var(--uploadButtonBackground);
    color: var(--uploadButtonText);
    border: none;
}
