.addToPlaylistDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToPlaylist{
    width: 100%;
    height: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--optionHeader);
    background-color: var(--playlistSelectBC);
    border-radius: 5px;
    border: none;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    size: 3;
}

.optionHeader{
    color: var(--optionHeader);
}

.inPlaylist{
    color: var(--inPlaylist);
    font-weight: bold;
}

.notPlaylist{
    color: var(--notPlaylist);
    font-weight: bold;
}