

/*** Swiper ***/

.swiper-container{
    position: absolute;
    color: var(--rainbowIndigo);
    height: 100% !important;
    width: 100%;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    box-sizing: border-box;
}
