@import url('../../css/animation/allAnimations.css');

.topSongsDiv1 :global,
.topSongsDiv2 :global,
.topSongsDiv3 :global,
.topSongsDiv4 :global{
    animation: fadeIn 3s;
}

.mainSuggestions{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "one two"
    "three four";
    align-items: center;
    max-width: 1250px;
    height: 100%;
}

.topSongsDiv1{
    grid-area: one;
    color: var(--rainbowIndigo);
}

.topSongsDiv2{
    grid-area: two;
    color: var(--rainbowIndigo);
}

.topSongsDiv3{
    grid-area: three;
    color: var(--rainbowIndigo);
}

.topSongsDiv4{
    grid-area: four;
    color: var(--rainbowIndigo);
}