@import url('../../../../css/animation/allAnimations.css');

.playlistHeaderDiv :global{
    animation: fadeIn 1s;
}

.playlistHeaderDiv{
    display: flex;
    justify-content: center;
    color: var(--inPlaylist)
}

.playlistName{
    border-bottom: 1px solid var(--albumPlaylistHeader);
    color: var(--albumPlaylistHeader)
}