@import url('../../../../css/animation/allAnimations.css');

.playlistDiv :global{
    animation: fadeIn 1s, slightScaleUp .5s;
}

.playlistDiv{
    position: relative;
    width: 200px;
    height:225px;
    justify-self: center;
    align-self: center;
    background-color: var(--background2);
    box-shadow: 3px 3px  10px var(--darkViolet);
    border-radius: 5px;
    transition: .05s;
    margin: 10px 0;;
}

.playlistDiv:active{
    transform: translate(3px, 3px);
    box-shadow: 0px 0px  10px var(--darkViolet);
}

.albumArtDiv{
    box-sizing: border-box;
    padding: 5px;
    width:100%;
    height:200px;
}

.albumArt{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.playlistInfoDiv{
    width:100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.playlistLink{
    box-sizing: border-box;
    padding: 0 5px;
    color: var(--pastelRed);
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.editIconDiv{
    position: absolute;
    top:10px;
    left:10px;
    color: var(--playlistButtons);

    display: flex;
    flex-direction: column;
}

.editIcon,
.cancelIcon{
    font-size: 18px;
    padding:2px;
}

.deleteIconDiv{
    position: absolute;
    top:10px;
    right:10px;
    color: var(--playlistButtons);
}

.edit{
    text-align: center;
}