.searchBarDiv{
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid grey;
    min-width: 50px;
    text-align: center;
    border: 1px solid var(--borderColor);
    outline: none;
    font-size: 100%;
}