/***** Animation *****/
@import url('../../css/animation/allAnimations.css');

.mainProfile :global{
    animation: fadeIn .25s;
}

/***** PROFILE *****/
.mainProfile{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height:100%;
}