/***** Animation *****/
@import url('../../css/animation/allAnimations.css');

.mainProfile :global{
    animation: fadeIn .25s;
}

/***** PROFILE *****/
.mainProfile{
    display: flex;
    direction: column;
    justify-content: flex-start;
    height:100%;
}