/*************** RESET ***************/
/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

/* * {
  box-sizing: border-box;
} */

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav,
button{
  /* font-size: 1rem; */
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-weight: normal; */
}

body{
  background-color: var(--background1);
  height: 100vh;
  width: 100vw;
}

#root{
  height:100%;
  width: 100%;
}

:root {
  --beige: rgba(245, 245, 221,1);
  --snow: rgba(254, 245, 250,.7);
  --quickSilver: rgba(164, 169, 167,.7);
  --fadedSilverFoil: rgba(174, 174, 174, .4);
  --fadedGreyBlue: rgba(190, 202, 211,.55);
  --pastelBlue: rgba(173, 195, 209,1);
  --paleBlue: rgba(184, 235, 233, 1);
  --fadedSkyBlue: rgba(147, 194, 198, 1);
  --celestialBlue: rgba(79, 158, 196, 1); /* 4F9EC4 */
  --sapphire: rgba(26, 88, 139, 1);
  --seaSerpent: rgba(90, 198, 198, 1);
  --jetStream: rgba(186, 219, 202, 1);
  --fadedRainbowIndigo: rgba(29, 48, 100, .15);
  --rainbowIndigo: #1A2956;

  --skyBlue: rgb(6, 105, 217);
  --pastelWhite: rgba(245, 245, 244, 1);  /* F5F5F4 */
  --lightGreen: #45F2A4;
  --deepBlue:#1430FF;
  --darkGreen: #0C7919;
  --cyanish: #015871;
  --aHintBlue: rgb(215,230,245);

  /* General */
  --background1: var(--pastelWhite);
  --background2: var(--fadedGreyBlue);
  --background3: var(--cyanish);

  /* Navbar */
  --navbarBase: var(--pastelWhite);
  --navbarActive: var(--lightGreen);

  /* Form */
  --formText: var(--rainbowIndigo);
  --formLabel: var(--pastelWhite);
  --formButtonBackground: var(--aHintBlue);
  --formButtonText: var(--rainbowIndigo);

  --uploadButtonBackground: var(--aHintBlue);
  --uploadButtonText: var(--rainbowIndigo);;

  --borderColor: var(--fadedRainbowIndigo);

  /* Modal */
  --modalBackground: var(--cyanish);
  --modalFadedBackground: var(--snow);


  /* User Page */
  --mainNavActiveText: var(--skyBlue);

  --userNavActive: var(--skyBlue);
  --userText: var(--skyBlue);

  --profPicBackground: var(--paleBlue);
  --profPicBackground2: var(--paleBlue);

  /* Song */
  --songTitle: var(--skyBlue);
  --otherSongInfo: var(--darkGreen);
  --genreTextColor: var(--skyBlue);
  --genreBackground: var(--fadedGreyBlue);

  /* Playlist */
  --playlistButtons: var(--skyBlue);

  --playlistSelectBC: var(--fadedGreyBlue);
  --optionHeader: black;
  --inPlaylist: var(--skyBlue);
  --notPlaylist: var(--darkGreen);

  /* Playlist/Album Page */
  --albumPlaylistHeader: var(--cyanish);

  /* Audio Player */
  --audioPlayerButtons: var(--lightGreen);
  --audioPlayerLikes: var(--pastelWhite);
  --audioPlayerSongTitle: var(--pastelWhite);
  --audioPlayerOtherSongInfo: var(--pastelWhite);
  --audioPlayerGenreTextColor: var(--pastelWhite);
  --audioPlayerGenreBackground: var(--pastelWhite);


  --songHeaders: var(--sapphire);

  --sliderPlayed: var(--lightGreen);
  --sliderUnplayed: var(--pastelWhite);
  --sliderTime: var(--celestialBlue);

  /* Song Page Comments */
  --username: var(--skyBlue);
  --comment: var(--sapphire);
  --commentBackground: var(--fadedRainbowIndigo);




}

.formErrors{
  /* position: absolute;
  bottom: - min-content;
  right: 0;
  left: 0; */
  background-color: rgb(236, 90, 90);
  color: white;
  border: 1.5px solid darkred;
  box-sizing: border-box;
  list-style: none;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px 0;
  transition: 1s;
}

.formErrors li{
  text-align: center;
}
/*************** Scroll Bar ***************/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--fadedGreyBlue);
  border-radius: 20px;
}

/*************** Animations ***************/

@keyframes modalAnimation {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}