/*************** RESET ***************/
/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

/* * {
  box-sizing: border-box;
} */

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav,
button{
  /* font-size: 1rem; */
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-weight: normal; */
}

body{
  background-color: var(--background1);
  height: 100vh;
}

#root{
  height:100%;
}

:root {
  --pastelWhite: rgba(245, 245, 244, 1);
  --beige: rgba(245, 245, 221,1);
  --snow: rgba(254, 245, 250,.7);
  --quickSilver: rgba(164, 169, 167,.7);
  --fadedSilverFoil: rgba(174, 174, 174, .4);
  --fadedGreyBlue: rgba(190, 202, 211,.55);
  --pastelBlue: rgba(173, 195, 209,1);
  --paleBlue: rgba(184, 235, 233, 1);
  --fadedSkyBlue: rgba(147, 194, 198, 1);
  --skyBlue: rgba(06, 157, 217,1);
  --celestialBlue: rgba(79, 158, 196, 1);
  --sapphire: rgba(26, 88, 139, 1);
  --seaSerpent: rgba(90, 198, 198, 1);
  --jetStream: rgba(186, 219, 202, 1);
  --fadedRainbowIndigo: rgba(29, 48, 100, .15);
  --rainbowIndigo: rgba(29, 48, 100, 1);

  --background1: var(--pastelWhite);
  --background2: var(--fadedGreyBlue);
  --background3: var(--pastelBlue);

  --formText: var(--rainbowIndigo);
  --formButtonBackground: var(--quickSilver);
  --formButtonText: var(--rainbowIndigo);

  --uploadButtonBackground: var(--fadedGreyBlue);
  --uploadButtonText: whitesmoke;

  --borderColor: var(--fadedRainbowIndigo);

  --mainNavActiveText: var(--jetStream);

  --userNavActive: var(--celestialBlue);
  --userText: var(--sapphire);

  --songTitle: var(--skyBlue);
  --otherSongInfo: var(--seaSerpent);
  --genreTextColor: var(--celestialBlue);
  --genreBackground: var(--fadedGreyBlue);

  --audioPlayerOtherSongInfo: var(--celestialBlue);

  --songHeaders: var(--sapphire);

  --sliderPlayed: var(--seaSerpent);
  --sliderUnplayed: var(--beige);
  --sliderTime: var(--celestialBlue);

  --username: var(--skyBlue);
  --comment: var(--sapphire);
  --commentBackground: var(--fadedRainbowIndigo);

  --profPicBackground: var(--snow);
  --profPicBackground2: var(--snow);

  --modalBackground: var(--celestialBlue);
  --modalFadedBackground: var(--snow);

  --playlistButtons: var(--skyBlue);

  --playlistSelectBC: var(--fadedGreyBlue);
  --optionHeader: var(--celestialBlue);
  --inPlaylist: var(--sapphire);
  --notPlaylist: var(--rainbowIndigo);

}

/* h1 {
  font-size: 2rem;
  -webkit-text-stroke: .5px black;
} */

/*************** Scroll Bar ***************/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--fadedGreyBlue);
  border-radius: 20px;
}

/*************** Animations ***************/

@keyframes modalAnimation {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}