
.songsContainer{
    margin:auto;
    position: absolute;
    top: 55px;
    bottom: 80px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
}

.songsDiv{
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;

}