/***** Animation *****/
@import url('../../css/animation/allAnimations.css');

.loginDiv :global ,
.signupDiv :global ,
.upload :global,
.profile :global{
    animation-duration: .75s;
    animation-name: fadeIn;
}

/***** Navbar *****/
.navbar{
    display: grid;
    grid-template-columns: 10px 150px 150px 1fr 300px 10px;
    grid-template-rows: 50px;
    grid-template-areas:
        " . logo home search auth .";
    padding: 0;
    border-bottom: 1px solid rgba(200,200,200,.85);
    background-color: whitesmoke;
}

.navbar :global {
    animation-duration: .5s;
    animation-name: slideInFromTop;
}

.active{
    color:var(--pastelRed);
    background-color: var(--fadedGreyBlue);
    text-decoration: none;
}

/***** Logo *****/
.logoDiv{
    grid-area: logo;
    margin-left: 5%;
    margin-right: 10px;
    background-color: var(--pastelRed);
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    padding: 0 10px;
    width:90%;
    height:95%
}

.logo:hover{
    cursor: pointer;
}

/***** Home/Login/Signup *****/

.homeDiv{
    grid-area: home;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    color: grey;;
}

.home{
    height: 100%;
    width: 100%;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/***** Search *****/

.searchDiv{
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***** Auth Section *****/
.authDiv{
    grid-area: auth;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

/***** Demo *****/
.demoDiv{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100px;
    font-size: 20px;
    color: grey;;
}

/**** Login/Signup****/
.loginDiv,
.signupDiv{
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    color: grey;
}

.login,
.signup{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/**** Profile ****/
.profileDiv{
    position: relative;
    margin-left: 10px;
    width: 50px;
    font-size: 30px;
    color:grey;
}

.profileDiv:hover{
    cursor: pointer;
}

.dropdownDiv{
    position: absolute;
    top: 50px;
    right: 0;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.profile,
.logout{
    border: none;
    background-color: white;
    font-size: 20px;
    color: var(--pastelRed);
    font-family: initial;
    text-decoration: none;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}

.profile:hover,
.logout:hover{
    background-color: var(--fadedGreyBlue);
    cursor: pointer;
}

.fa-user{
    pointer-events: none;
}

/**** Upload ****/
.uploadDiv{
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    color: grey;;
}

.upload{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
